NEXTCLOUD_URL=your_nextcloud_url_here
NEXTCLOUD_USER=your_nextcloud_username_here
NEXTCLOUD_PASS=your_nextcloud_password_here
GRIST_API_KEY=your_grist_api_key_here
GRIST_DOC_ID=your_grist_doc_id_here
