NEXTCLOUD_URL=https://nx99546.your-storageshare.de
NEXTCLOUD_USER=info@squirrelystash.com
NEXTCLOUD_PASS=your_nextcloud_password_here
GRIST_API_KEY=your_grist_api_key_here
GRIST_DOC_ID=sU9aJthLkBs7FmMhcH6LAd
